*{
    box-sizing: border-box;
}
body {
    width: 100%;
    /*background: #141414;*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    font-family: Roboto;
    letter-spacing: 0px;
    text-align: left;
    color: #888888;
    overflow-x: hidden;
}

/*header*/
@media screen and (max-width:800px){
    .header-wrapper{
    
    }
    .header-logo{
        margin-left: 0;
    }
.header-search{
}
    
   
    }

@media screen and (min-width:800px){
.header-wrapper{
width:100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}
.header-logo{
    flex-grow: 1;
padding-right: 330px;
}
    .header-search{
        flex-grow: 1;
        margin-top: -30px;
width:200px;
}
}
/*movie name*/
.header-wrapper{
    width:100%;
    background-color: #081c24;
    display: flex;
    flex-direction: row;
flex-wrap: wrap;
justify-content: center;

}

    .header-search{
width:200px;
}
.nameblog {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nameblog a {
    text-decoration: none;
}

.moviename {
    color: #f15f60;
     align-self: center;
}

.moviename span {
    color:white;

}

#subtitle {
    font-size: 9px;
    color:#00ada9;
    letter-spacing: 0.3em;
    word-spacing: 0.2em;
    opacity: 0.4;
}


/*navbar */
.navbar-collapse{
    padding: 0 !important ;
}

   .navbar-default{
       border:0 !important;
   }
.navlist {
    margin-bottom: 30px;
}

.navbar {
    width:100%;
    padding-bottom: 2px;
    background: #2b2b2b;
    border-radius:0 !important; 
   
}
.navbar-inverse{
    background: none;
    margin: 0;
}

.navbar-nav li a{
    color:white;
    text-decoration: none;
display: block;
}
 .navbar-nav li a:hover {
    color: #3ec0e1;
    text-decoration: none;
}

.navbar-collapse>.navbar-nav>li>a{
    color:white;
    text-decoration: none;
}
 .navbar-nav>li>a::after {
    content: '';
    width: 100%;
    top: 100%;
    left: 0%;
    position: absolute;
    background: #3ec0e1;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
 .navbar-nav>li>a:hover::after {
    transform: scaleX(1);   
}
@media screen and (max-width:500px){
    #root{
        overflow-x: hidden;
    }
    .navbar-inverse .navbar-nav>li>a::after {
        content: '';
        width: 100%;
        top: 100%;
        left: 0%;
        position: absolute;
        background: #3ec0e1;
        height: 2px;
        transform: scaleX(0);
        transition: transform 0.5s ease;
    }
    
    .navbar-inverse .navbar-nav>li>a:hover::after {
        transform: scaleX(1);
    }
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
         margin-right:15px; 
    }
    .container{
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
    
    .navlist{
        width:100%;
        margin-right:0 auto; 
    }
    .navbar {
width:100%;
    background: #2b2b2b;
text-align: center;
    }
    .navbar-inverse {
        width:100%;
        margin: 0;
    }
    
    .navbar-inverse .navbar-nav>li>a{
text-align: center;
    }

   .theater_blog  {
       width: 100% !important;
        display: flex;
        flex-wrap: wrap;
    }
    
    .img2SecondBlog{
       width: 100%;
       cursor:pointer;
        }
    
    #img1FirstBlog{
width:100%;
    }
    .upcomingmainblog .upcomingmain {
        border-top: 4px solid #90ee90;
        width: 100%;
        
    }
    #carouselblog{
        width:50%;
        }   
        div.img1carousel{
        width: 100%;
        } 
        div.upcomingmainblog{
        width:100%;
        }
        div.toprated-main .contents-toprated .main-blog{
        width:100%;
        }
        div.toprated-main{
            width:100%;
        }
        .toprated-main .contents-toprated{
            width:100%;
            margin: 0;
        }
        #movie_background{
            background: #00d573;
                width: 100%;
                
        }
        #movie_background .movie_details_main{
            
            width:100%;
            display: flex;
            flex-wrap: wrap;
        padding-top: 40px;
        padding-bottom: 40px;
        }
        .sing_colum_blog{
            color: white;
            width:100%;
        }
        .movie_details_title{
            font-weight: 700;
            font-size: 2.4em;
        }
        div.people{
            width:100%;
margin: 0; 
        }
       div.people .casts{  
display: flex;   
flex-wrap: wrap;   
  }
        
        .well_style{
            margin:0;
            box-shadow:  0 2px 8px rgba(0,0,0,0.7);
        
        }
       
      #tvshows .well{
          width:100%;
      }
      .tvshows{
          width:100%;
      }   
      .well_searchbox >img{
          width: 100%;
          height: 100%;
      }
      .search_wrapper_main{
          width:100%;
      }
       .search_wrapper_main .search_wrapper{
           width:100%;
       }  
      div .h4_theatre{
margin: 0 !important;
text-align: center;
      }
      /*scroll button*/
     div #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 0px; /* Place the button at the bottom of the page */
        right: 10px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: red; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 50%; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }
}

/*thetare main blog starts*/

.theater_blog {
    width   : 76%;
    border-top: 4px solid orange;   
    margin:0 auto;
    position: relative;   
    display: flex;
    overflow-y: hidden;
}
.background img{
    position: relative;
    z-index: -1;
}
.theater_blog .wrap_firstimg:hover {
    background: linear-gradient(to bottom, rgba(43,43,43,0), rgba(43,43,43,1));
}

.ptag{
    position: relative;

}
.ptag div{
    position: absolute;
    bottom:0;
    font-size: 20px;
    background: linear-gradient(to bottom, rgba(43,43,43,0), rgba(43,43,43,1));
       height: 40px;
    transition-property: height,background-color;
    transition-duration: 1s;
    transition-delay: 0.1s;
    overflow-y: hidden;
    font-weight: 400;
}
.wrap_secondimg{
    display: flex;
    flex-wrap: wrap;
}
.movie_title{
    color:white;
    font-family: Montserrat;
    text-decoration: none;
    position: absolute;
bottom:0;
    font-size: 30px;
    font-weight: 400;

    width:100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(43,43,43,0), rgba(43,43,43,1));
    height: 57px;
    transition-property: height,background-color;
    transition-duration: 1s;
    transition-delay: 0.1s;
}
.movie_title p:first-child{
    margin-left: 25px;
}
.movie_title p:nth-child(2){
    margin-left: 25px;
    font-size: 13px;
}
.movie_title p:hover:nth-child(2){
color:red;
}
.wrap_firstimg{
}
 .movie_title:hover{
    height: 75px;
   color: #3ec0e1;
}

.img2SecondBlog{
    object-fit: cover;
    object-position: center center;
}

.img1FirstBlog{
    object-fit: cover;
    object-position: center center;}

.img1carousel{
  
}

.theatremainblog h2 {
    position: absolute;
    top: 400px;
    left: 20px;
    width: 100%;
}

h2 span {
    color: white;
    letter-spacing: -1;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
}



/* theatre main blog ends here*/
.upcomingmain {
    margin: 0 auto;
    border-top: 4px solid #90ee90;
    width: 76%;
    
}
.upcomingmainblog{
}
#carouselblog{
width:100%;
}
.contentheading{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 24px;
    color:black;
    font-weight: 700;
    line-height: 1.1;
    font-style: normal;
    margin-left:12%;
}
.carousel-inner .item img {
    width: 1200px;
    height: 800px;
    background-position: center;
    background-size: cover;
}

.glyphicon-chevron-left {
    visibility: hidden;
}

.glyphicon-chevron-right {
    visibility: hidden;
}
/*topratedblog*/
.toprated-main{
    width:100%;
margin: 0 auto;
height: auto;
}
.contents-toprated{
    width:100%;
margin-left:6%; 
}
.contents-toprated h4{
margin-left: 13%;
}
.main-blog{
width:75%;
margin: 0 auto;
    border-top:3px solid #3ec0e1;  
}

.img_align{
    object-fit: cover;
    object-position: center center;
}    

.follow-blog{
}
h4{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    font-family: Montserrat;
    letter-spacing: 0px;
    text-align: inherit;
    color:black;
    text-transform: uppercase;
}
.follow-content{
    background: #2b2b2b;
    border-top:3px solid #ea485e;
    padding: 15px 30px 30px 30px;
    max-width: 373px;
}
.follow-content .subtitle{
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 12px;
}
.follow-social{
    padding-top: 10px;
}
h5{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    font-family: Montserrat;
    letter-spacing: 0px;
    text-align: inherit;
    color: #ffffff;
}
#subscribe-blog::before{
    background: #222222;    
    height: 274px;
}
#subscribe-blog {
    margin-top: 60px;
    position: relative;
    z-index: 1;
}
#subscribe-blog::before{
    content: " ";
    position: absolute;
    top: -25px;
    left: -31px;
    right: -31px;
    bottom: -100px;
    z-index:-1;
    
}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .subscribe-block_group{
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 10px;
      align-content: stretch;
      align-items: flex-start;
  }
  input[type="email"] {
    -webkit-order: 0;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    border-radius: 0;
    border: 1px solid #404040;
    max-width: 100%;
    color:#ffff;
    background: #2b2b2b;
}
.subscribe-block_group >a {
    color: #ffffff;
    background: #3ec0e1;
    font-family: Montserrat;
    margin-top: 10px;
    -webkit-order: 0;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    max-width: 100%;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    font-size: 14px;
    display: block;
    width: 100%;
    text-align: center;
    letter-spacing: 0.56px;
padding: 15px;
text-decoration: none;
}
.subscribe-block_group >a:hover{
   background:  #a0ce4e;
}
.popularmain{
    width:370px;
    position: relative;
    top:0;
    left:0;
    height: auto;
}
.one{
    width:70px;
    height: 50px;
    float: left;
    display: inline;
}
.two{
    width:180px;
    height: 140px;
    background:#2b2b2b;
    transition: width 1s ease;
    margin-left: auto;
    position:relative;
    top:0;
    left:0;
    margin-bottom: -10px;
}
.two:hover{
    width:280px;
    z-index: 100;
    cursor: pointer;
}
.two h6{
    color:white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    font-family: Montserrat;
    letter-spacing: 0px;
    position: relative;
    top:40%;

}
/*topratedblog ends*/
.moviedetails {
    width: 150px;
    text-align: center;
    font-weight: bold;
    color: purple;
}

.blogname {
    color: red;
    font-weight: bold;
    animation: box-name 1s linear 2s;
}

@media screen and (max-width:768px){
    input{
        margin-bottom:70px;
    margin-left: 50px;
    }
}

input {
    outline: none;
    margin-right: 100px;
    margin-top: 65px;
}

input[type=text] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=text] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=text]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

/*scroll button*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 15px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/*footer*/
.site-footer{
    background-color: #222222;
    max-width: 100%;
    margin-top: 20px;
}
.invert{
    color:#ffffff;
    padding-top: 30px;
    padding-left: 80px;
}
.invert ul li{
    list-style: none;
    position: relative;
    padding: 7px 0;
    border-bottom: 1px solid #404040;   
    
}
  #menu-footer> ul> li{
    border-bottom: 1px solid #404040;   
    
}
.invert ul{
    margin: 0px;
    padding: 0; 
}
.invert ul li a{
    text-decoration: none;
    color:#3ec0e1;
    font-size: 15px;
    
}
.invert ul li a:hover{
    color:#ffffff;
}
.invert ul li:last-child{
    border: none;
} 
.widget-title{
    font-size: 24px;
    font-family: Montserrat;  
font-weight: bold;
text-transform: uppercase;
}
.inform ul li:last-child{
  border-bottom: 1px solid #404040;
}
.widget-tag .tag-cloud a{
    color: #888888;
    background: #2b2b2b;
}
.widget-tag .tag-cloud a{
    font-size: 14;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
display: inline-block;
}
.widget-tag .tag-cloud a:hover{
    color: #ffffff;
    background: #ea485e;
}
 .subscribe-message{
    color: #888888;
    padding-bottom: 20px;
}
input[type="email"]{
    background: #2b2b2b;
    color:#ffffff;
    padding: 12px 20px;
    border: 1px solid #404040;
    margin: 0px;
}
#subscribe-submit{
    background: #2caae1;
    color:#ffffff;
    font-family: Montserrat;
    padding: 14px;
    text-decoration: none;
}
#subscribe-submit:hover{
    background:  #a0ce4e;    
    color:white;
}
.invert::after{
    content: "";
    height: 1px;
    position:relative;    
    background-color:#404040;;
    left: 0;
    right:0;
    bottom: 0;
    display: block; 
    width:1200px;
}
.footer-copyright {
    display: inline-block;
    margin-left: 75px;
}
.site-info_flex {
    vertical-align: middle;
    padding: 28px 15px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    color:#888888;
    display: flex;
}
#comdey{
    color: white;
}
#tvshow .well {
   box-shadow:  0 2px 8px rgba(0,0,0,0.5);
}
#tvshow .well>img{
}

#tvshow{
   color:black;
}

.tvshows{
width: 80%;
margin: 0 auto;

}
.tvshows >div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#movie_background{
        width: 100%;
        height: auto;
        margin-top: -20px;
}
.movie_details_main{
    
    width:1000px;
    display: flex;
    margin:0 auto;
padding-top: 40px;
padding-bottom: 40px;
}
.sing_colum_blog{
    padding-left: 20px;
    color:#000;
}
.movie_details_title{
    font-weight: 700;
    font-size: 2.4em;
}
.casts{
    display:flex; 
   
}

.well_style{
    margin-right: 10px;
    box-shadow:  0 2px 8px rgba(0,0,0,0.7);

}
.casts_name{
color:black;
font-weight: 700;
text-align: center;
margin-top: 10px;
}
.people{
    margin-left: 250px;
color:black;

}
.name_align{
    padding: 35px;
}
/*search wrapper*/
#search_wrapper_main{
    width: 100%;
    
    }
    #search_wrapper_main div{
        width:60%;
        margin: 0 auto;
    }
#search_wrapper_main div h2{
color: #000;

}
#well_searchbox{
width:100% !important;
margin: 0 0 12px 0 !important;
}
#search_wrapper_main div .search_wrapper{
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.search_content{
    padding: 10px 16px 16px 16px;
}
.search_content p:first-child{
    color:#000;

font-weight: 600;
font-size: 1.1em;
line-height: 1.1em;
}

/*comedy*/
.main_wrapper{
    width:78%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
margin:0 auto;
}

 .well {
width:583px;
    display: flex;
    overflow: hidden;
    box-shadow:  0 2px 8px rgba(0,0,0,0.5);

}
.well .details_movie{
    color:#000;
    overflow: hidden; 
    margin-left: 20px;
}
.well .details_movie p:first-child{
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
    line-height: 2em;
}
.well .details_movie p:nth-child(2){
height: 12em;
overflow: hidden;
}
.well .details_movie .more_card{
    border-top:1px solid #e3e3e3;
   
}