* {
    box-sizing: border-box;
}

body {
    width: 100%;
    /*background: #141414;*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    font-family: Roboto;
    letter-spacing: 0px;
    text-align: left;
    color: #888888;
    overflow-x: hidden;
}

/*header*/

/*movie name*/
#header-wrapper {
    /*background-color: #081c24;*/
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF !important;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
transition: top .3s;
}

.nameblog .logoimg {
    display: inline;

}

.nameblog a {
    text-decoration: none;
}


/*navbar */
#logo {
    position: relative;
    top: 0px;
    height: 61px;
}

.header-section {
    width: 60%;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
}

.header-section ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-section ul li {
    padding: 10px;
    font-size: 1em;
}

.header-section ul li a {
    color:#000;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    outline: none;

}

.header-section .searchbox {
    margin-left: auto;
}
input {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 5px 10px 5px 32px;
	width: 125px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input:focus {
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#togglebar{
display: none;
}


/*In thetare main  blog starts*/
#img1FirstBlog {
    width: 41em;
}

.img2SecondBlog {
    height: 17.9em;
    width: 20.7em;
    object-fit: cover;
    object-position: 80% 20%;
}
.np_block_wrapper {
    width: 100%;

}

.np_block_wrapper .title_ {
    font-size: 1.6em;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color:#C3CFC7;

}

.np_block_wrapper ._intheatre {
    width: 60.7%;
    margin: 0 auto;
}

.theater_blog {
    width: 100%;
    height: auto;
    border-top: 3px solid #f1bd3b;
    display: flex;
    flex-direction: row;
}

.block_item1 {
    position: relative;

}

.block_item1 img {
    position: relative;

    transform: scale3d(1, 1, 1);
    transition: all 0.5s linear;
}

.block_item2 img {
    position: relative;
    transform: scale3d(1, 1, 1);
    transition: all 0.5s linear;
    overflow: hidden;

}

.block_item2 {
    position: relative;
    overflow: hidden;
}

.block_item2 .boxshadow_img {

    background-size: cover;

}

.wrap_img {
    display: flex;
    flex-wrap: wrap;
}

.block_item1 .boxshadow_img {
    position: relative;
    background-size: contain;

}

.movie_title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 10px !important;
    color: white;
    height: 42px;
    line-height: 2.4em;
    transition: height 0.5s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.movie_title a {
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro';

    font-size: 1.3em;
}

.movie_title a:hover {
    color: #3ec0e1;

}

.movie_title p:nth-child(2) {
    font-size: 16px;
    color: white;
}

.block_item1:hover .movie_title {
    height: 74px;
}

.block_item2:hover .movie_title {
    height: 74px;
}

.block_item1:hover img {
    transform: scale3d(1.2, 1.2, 1.2);
}

.block_item2:hover img {
    transform: scale3d(1.2, 1.2, 1.2);
}

.theatremainblog h2 {
    position: absolute;
    top: 400px;
    left: 20px;
    width: 100%;
}

h2 span {
    color: white;
    letter-spacing: -1;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
}

/*comedy*/
.well_genres .vote_genres {
position: absolute;
    top:3px;
    left:6px;
    color: #fff;
font-size: 0.8em;
    font-weight: 500;
    font-family: 'Pathway Gothic One', sans-serif;

}
.vote_genres > span{
    margin-left: 2px;
}
.genre_blog {
    margin-top: 100px;
    box-sizing: border-box;
    background-color: #000;
}

.well_genres {
    width: 200px;
    height: auto;
    box-sizing: border-box;
    margin: 10px 0 10px 0;
position: relative;
}

.genre_details {
    width: 78.5%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.genre_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.genre_title {
    box-sizing: border-box;
    height: auto;
    position: absolute;
    top:230px;
    left:10px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.9em;
    letter-spacing: 0.6px;
    overflow: hidden;
    line-height: 1em;
}

.title_movies h2 {
    color: #000;
    font-weight: 700;
    font-size: 1.6em;
    font-family: 'Source Sans Pro';
}

.genre_image {
    object-fit: cover;
    object-position: 80% 20%;
    border-radius:10px;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.6);
}



/* theatre main blog ends here*/
.carousel {
    border-top: 4px solid #90ee90;
    overflow: hidden;

}

#upcoming_main-blog h3 {
    text-transform: capitalize;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.6em;
    color: #000;
    font-weight: 600;
    line-height: 1.1;
    font-style: normal;

}

#carousell{
    width: 100%;
    height: 1000px;
    margin-top: 80px;
position: relative;
    display: inline-block;

}
#carousell::before{
    content: " ";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(49%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 49%, rgba(255, 255, 255, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 0) 36%, rgba(0, 0, 0, 1) 96%);
    /* W3C */

}
#carousell img {
    height: 1000px;
    max-width: 100%;
background-repeat: no-repeat;
    object-position: 70% 30%;
    object-fit: cover;
    position:relative;
     z-index:-1;
    display:block;
}




/*topratedblog*/
.toprated-main {
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.contents-toprated {
    width: 100%;
    margin-left: 5%;
}

.toprated_title {
    font-size: 1.6em;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color:#C3CFC7;

}

.main-blog {
    width: 60%;
    margin: 0 auto;

}

.inner-blog {
    width: 100%;
    border-top: 3px solid #3ec0e1;
    display: flex;
    flex-wrap: wrap;
}

.img_align {
    object-fit: cover;
    object-position: 80% 20%;
    width:370px;
    height: 250px;
}

.block_item2 #up_movies {
    background-size: cover;

}


.follow-content {
    background: #2b2b2b;
    border-top: 3px solid #ea485e;
    padding: 15px 30px 30px 30px;
    max-width: 373px;
}

.follow-content .subtitle {
    font-weight: 400;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 16px;
    margin-top: 12px;
}

.follow-social {
    padding-top: 10px;
}

#subscribe-blog::before {
    background: #222222;
    height: 316px;
}

#subscribe-blog {
    margin-top: 60px;
    position: relative;
    z-index: 1;
}

#subscribe-blog::before {
    content: " ";
    position: absolute;
    top: -25px;
    left: -30px;
    right: -30px;
    bottom: -100px;
    z-index: -1;

}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.subscribe-block_group {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
    align-content: stretch;
    align-items: flex-start;
}

input[type="email"] {
    -webkit-order: 0;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    border-radius: 0;
    border: 1px solid #404040;
    max-width: 100%;
    color: #ffff;
    background: #2b2b2b;
}

.subscribe-block_group > a {
    color: #ffffff;
    background: #3ec0e1;
    font-family: Montserrat;
    margin-top: 10px;
    -webkit-order: 0;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    max-width: 100%;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    font-size: 14px;
    display: block;
    width: 100%;
    text-align: center;
    letter-spacing: 0.56px;
    padding: 15px;
    text-decoration: none;
}

.subscribe-block_group > a:hover {
    background: #a0ce4e;
}

.popularmain {
    width: 370px;
    position: relative;
    top: 0;
    left: 0;
    height: auto;
}

.one {
    width: 70px;
    height: 55px;
    float: left;
    display: inline;
}

.two {
    width: 180px;
    height: 141px;
    background: #2b2b2b;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, -50);
    transition: all 0.3s ease;
    margin-left: auto;
    overflow: hidden;
}

.two .pop_link {
    width: 20px;
    opacity: 0;
    position: relative;
}

.two:hover {
    width: 280px;
}

.two:hover .pop_link {
    opacity: 1;
}

.two h6 {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
    letter-spacing: 0px;
}

.two .pop_link a {
    width: 40px;
    height: 40px;
    background: #00ada9;
    color: white;
    position: absolute;
    top: -90px;
    left: 235px;
    padding: 5px 0 0 16px;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;

}

/*topratedblog ends*/
.moviedetails {
    width: 150px;
    text-align: center;
    font-weight: bold;
    color: purple;
}

.blogname {
    color: red;
    font-weight: bold;
    animation: box-name 1s linear 2s;
}

/*scroll button*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #2caae1; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    width: 35px; /* Some padding */
    border-radius: 10%; /* Rounded corners */
    font-size: 22px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/*footer*/
.site-footer {
    max-width: 100%;
    height: 230px;
    margin-top: 20px;
background-color: #ffffff;
    position: relative;
}



.invert {
    color: black;
    padding-top: 30px;
    padding-left: 80px;
    font-family: 'Raleway', sans-serif;

}

.invert ul li {
    list-style: none;
    position: relative;

}



.invert ul {
    margin: 0px;
    padding: 0;
}

.invert ul li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;

}

.invert ul li a:hover {
    color: #3ec0e1;
}


.widget-title {
    color:#000;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#imdb{
    border:2px solid #000;
    border-radius: 6px;
    width:100px;
    height: 43px;
    position: relative;
    box-sizing: border-box;
    color:#000;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family:  sans-serif;
letter-spacing: -0.1em;
box-shadow: 5px 10px 10px #888888;

}

.widget-tag .tag-cloud a {
    color: #ffffff;
    background: #2b2b2b;
    font-family: 'Raleway', sans-serif;
width:70px;
height: 30px;
text-align: center;
text-transform: capitalize;
}

.widget-tag .tag-cloud a {
    font-size: 14;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
}

.widget-tag .tag-cloud a:hover {
    color: #ffffff;
    background: #ea485e;
}

.subscribe-message {
    color: #888888;
    padding-bottom: 20px;
}

input[type="email"] {
    background: #2b2b2b;
    color: #ffffff;
    padding: 12px 20px;
    border: 1px solid #404040;
    margin: 0px;
}

#subscribe-submit {
    background: #2caae1;
    color: #ffffff;
    font-family: Montserrat;
    padding: 14px;
    text-decoration: none;
}

#subscribe-submit:hover {
    background: #a0ce4e;
    color: white;
}




/*tvshow*/

#tvshow {
    color: black;
}

.tvshows {
    width: 80%;
    margin: 0 auto;

}

.tvshows > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*movies*/
.movie_details_main {
    width: 1000px;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 40px;
    font-family: 'Roboto Mono';
    color: #000;
    font-weight: 700;
}

.movie_details_main img {
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.first {
    position: relative;
    width: 100%;
}

div.first .second {
    position: relative;
    z-index: 1;
}

#bg_image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}

.sing_colum_blog {
    padding-left: 20px;
    color: #fff;

}

.movie_details_title {
    font-weight: 700;
    font-size: 40px;
}

.casts {
    display: flex;
    font-family: 'Source Sans Pro';

}

.well_style {
    margin-right: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);

}

.casts_name {
    color: black;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.people {
    margin-left: 250px;
    color: black;
}

.people h2 {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 1.4em;
}

.name_align {
    padding: 35px;
}

.people_casting {
    height: 14em;
    width: 10em;
    object-fit: cover;
    object-position: 80% 20%;
}

.movie_detail_section {
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    margin-top: -18px;
}

#img_main_blog {
    margin-right: 10px;
    box-sizing: border-box;

}

#img_main_blog img {
    box-sizing: border-box;
    border-radius: 4px;
    width: 250px;
    height: 141px;
    object-fit: cover;
    object-position: 80% 20%;
}

#img_main_blog p {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-weight: 400;
    font-size: 1em;
    box-sizing: border-box;
    width: 250px;
    text-overflow: ellipsis;
}

.main_recommend {
    margin-left: 250px;
}

.main_recommend h2 {
    color: #000;
    font-family: 'Source Sanse Pro';
    font-weight: 600;
    font-size: 1.4em;

}

.movie_recommend {
    width: 780px;
    height: 190px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    justify-content: space-between;
}

.trailer {
    width: 100%;
    margin-left: 250px;

}

.trailer h2 {
    color: #000;
    font-family: 'Source Sanse Pro';
    font-size: 1.4em;
    font-weight: 600;
}

/*search wrapper*/
#search_wrapper_main {
    width: 100%;
    color: white;
    font-family: 'Source Sanse Pro';
    margin-top: 100px;
}

#well_searchbox {
    width: 100%;

}

#well_searchbox {
    width: 100%;
    display: flex;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    background: #2b2b2b;
    margin-bottom: 10px;

}

.search_details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.search_wrapper {
    width: 76%;
    margin: 0 auto;
}

/*pagination*/
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*pagination end*/
/*people*/
.person_wrap {
    width: 100%;

}

.person_wrap .media_people {
    width: 76%;
    margin: 0 auto;

}

.person_wrap .media_people h2 {
    color: #000;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0 0 18px 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;

}

.people_img img {
    object-fit: cover;
    object-position: center center;
}

.results_people {
    background: #fff;
    box-sizing: border-box;
    margin-bottom: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.people_img {
    width: 235px;
    margin: 0;

}

.people_content {
    padding: 4px 8px;
}

.people_name {
    color: #000;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    width: 100%;
    line-height: 1.2em;
    margin: 0;
}

.person_wrap .media_people .item_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bdy_bckColor{
    background-color:#04040E;
    margin-top: 20px; 
    position: relative;
    box-sizing: border-box;
}


#togglebar{
    display: none;
    }
@media (max-width:1366px){
    #header-wrapper #togglebar{
        display: none;
        }
    .bdy_bckColor{
        margin-top: -17px;
        margin-bottom: -18px;
        padding-bottom: 10px;
    }
    .np_block_wrapper{
        width:100%;
        box-sizing: border-box;
        padding-top:15px; 
    }
    .np_block_wrapper ._intheatre{
        width:70%;
        margin: 0 auto;
    }
    #img1FirstBlog{
max-width:28.6em;
max-height:40em ;
position: relative;
    }
    .img2SecondBlog{
    height: 19.9em;
    max-width: 17.5em;
position: relative;
    }
    /*to rated*/
    #up_movies .img_align {
    width:22.2em;
    height: 19em;
    }
    .one .img_align{
        width:10em;
        height: 10em;
    }
    /*latest follow content*/
    .follow-blog .follow-content{
        max-width: 300px;
    }
    .popularmain{
        max-width:300px;
        padding-top: 15px;
    }
    .popularmain .two{
        width: 160px;
        height: 10em;
    
    }
    .popularmain .two:hover{
        width:220px;
    }
  
    .popularmain .two .pop_link a {
        width: 30px;
        height: 30px;
       
        position: absolute;
        top: -90px;
        left: 190px;
        padding: 3px 0 0 8px;
        font-size: 1.2em;
        
    
    }

    .main-blog {
        width: 74%;
    }
    .toprated-main{
        padding-top:35px; 
    }
    .toprated-main .contents-toprated{
        margin: 0;
    }
   

}
@media (min-width:1281px){
    
}
@media (max-width:960px){
    /*navbar*/
    .header-section{
        width: 65%;
    }
    .bdy_bckColor{
        background-color:#04040E;
        margin-top: -18px;
    }
    .np_block_wrapper{
        width: 100%;
    padding-top: 50px;
    position: relative;
    box-sizing: border-box;
    }
    .np_block_wrapper ._intheatre {
        width: 70.7%;
        margin: 0 auto;
    }
    #img1FirstBlog{
        max-width:22em;
        position: relative;
            }
    .img2SecondBlog{
        max-height: 16.2em;
    max-width: 13.2em;
position: relative;
    }
    /*top rated*/
    .main-blog {
        width: 75%;
        margin: 0 auto;
    }
    .toprated-main{
        padding-top:35px; 
    }
    .toprated-main .contents-toprated{
        margin: 0;
    }
    #up_movies .img_align {
        width:16.8em;
        height: 15em;
        }
.follow-blog .follow-content{
    max-width: 250px;
}
.follow-blog .follow-social .fa{
    padding: 15px;
font-size: 12px;
width: 46px;
text-align: center;
text-decoration: none;
}
input[type="email"]{
    padding: 8px 8px;
}
.subscribe-block_group > a{
    padding: 8px;
}
.one .img_align{
    width:9em;
    height: 10em;
}
.popularmain{
    width: 250px;
    padding-top: 15px;
    position: relative;
    box-sizing: border-box;
}
.popularmain .two{
    width: 125px;
    height: 10em;
background: #2b2b2b;
position: relative;
top: 0;
left: 0;
transform: translate(0, -50);
transition: all 0.3s ease;
margin-left: auto;
overflow: hidden;
}
.popularmain .two:hover{
    width:170px;
}
.popularmain .two .pop_link {
    width: 20px;
    opacity: 0;
    position: relative;
}



.popularmain .two:hover .pop_link {
    opacity: 1;
}
.popularmain .two .pop_link a {
    width: 34px;
    height: 34px;
    background: #00ada9;
    border-radius: 3px;
    color: white;
    position: absolute;
    top: -24px;
    left: 75px;
    padding: 3px 0 0 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;

}
.two h6 {
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
    letter-spacing: 0px;
    text-align: center;
}
.two .name_align{
    padding: 15px;
    position: relative;
    box-sizing: border-box;
}

}
@media screen and (max-width: 600px) {
    #root {
        overflow-x: hidden;
    }
   

    #header-wrapper{
        height: -10px;
        width:100%;
    }
     #tooglbar{
        visibility: visible;
    }

}
#header-wrapper #tooglbar{
    visibility: hidden;
}
#header-wrapper .sidenav{
    display: none;
}